# Artillery Hornet Klipper Config by EmmeFreeze
# Based on kiPHAW's config (https://www.youtube.com/watch?v=kokwZI83wzI)
# Thanks to: gpo 123 (display pinout)

####### FIRMWARE COMPILE OPTIONS ########

# Enable extra low-level configuration options: TRUE
# Micro-controller Architecture: STMicroelectronics STM32
# Processor model: STM32F401
# Bootloader offset: No bootloader
# Clock reference: 8 MHz crystal
# Communication interface: USB (on PA11/PA12)
# USB ids: DEFAULT
# GPIO pins to set at micro-controller startup: FALSE

# adxl345
[mcu CB1]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: CB1:None
spi_bus: spidev1.1
axes_map: -x, y, -z

[resonance_tester]
accel_chip: adxl345
probe_points:
  82, 82, 20

# Stepper settings (X, Y, Z)
[include extras/stepper.cfg]

# Extruder settings
[include extras/extruder.cfg]

# Bed settings (bed leveling, pin)
[include extras/bed.cfg]

# Fan settings (object, heater, controller fans)
[include extras/fan.cfg]

# Display settings (pin)
# [include extras/display.cfg]

# Mainsail settings
[include mainsail.cfg]

# Input shaping settings (freq, type)
[include extras/input_shaper.cfg]

[force_move]
enable_force_move: true

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f401xc_65003E000851383434353631-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 15000
max_z_velocity: 20
max_z_accel: 100
square_corner_velocity: 5 

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]

[gcode_arcs]
resolution: 0.1

#  Enable Execute Object (beta) use https://github.com/troy-jacobson/klipper/tree/exclude-object-pr
[exclude_object]

[input_shaper]
shaper_freq_x: 100.2
shaper_type_x: mzv
shaper_freq_y: 71.4
shaper_type_y: mzv

[probe]
pin: ^PC2
deactivate_on_each_sample: false
x_offset: -9.5
y_offset: 31
#z_offset: 10
speed: 2.0
samples: 3

##### MACROS ######

# Basic macros
[include macros/basic.cfg]

# Homing macros
[include macros/home_axis.cfg]

# Parking macros
[include macros/parking.cfg]

# Klicky
[include klicky/klicky-probe.cfg]

# K-ShakeTune
[include K-ShakeTune/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.880
#*# pid_ki = 1.264
#*# pid_kd = 56.338
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.128
#*# pid_ki = 1.211
#*# pid_kd = 1015.107
#*#
#*# [stepper_z]
#*# position_endstop = 136.080
#*#
#*# [probe]
#*# z_offset = 10.809
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.001667, 0.040833, 0.024167, -0.005000, -0.049167
#*# 	-0.036667, -0.030000, -0.044167, -0.037500, -0.047500
#*# 	-0.034167, -0.018333, -0.031667, -0.054167, -0.053333
#*# 	-0.039167, -0.035000, -0.025000, -0.090000, -0.074167
#*# 	-0.011667, -0.040000, -0.066667, -0.064167, -0.105833
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 145.0
#*# min_y = 35.0
#*# max_y = 165.0
